.list-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    overflow: scroll;

}

.list-group-item {
    list-style: none;
    width: 180px;
    margin: 15px;
    display: inline-block;
}

.list-group-item img {
    width: 100%;
}

.grid-list {
    text-align: center;
}