.list-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    overflow: scroll;

}

.list-group-item {
    list-style: none;
    width: 200px;
    margin: 15px;
    display: inline-block;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.blog-image-container img {
    width: 100%;

}

.grid-list {
    text-align: center;
    padding-top: 32px;
}

.desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 10px 0;
}