.profile-container {
    width:400px;
    height: 100vh;
    padding-left: 30px;
    background: url(http://i.imgur.com/miOvvi4.png)left no-repeat;
    background-size: contain;
    text-align: center;
    padding-top: 20px;
}

.profile-image-container {
    width: 100%;
    margin: 30px auto;

}

.profile-image-container img{
    width:100%;
}

.profile-intro {
    margin-top: 21px;
    line-height: 1.3;
    font-size: 46px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Playfair Display', serif;
    text-align: left;
}

.like-count-container {
    margin-top: 30px;
}

.like-count-container h1 {
 display: inline-block;
    margin: 0;
}

.heart-icon {
    display: inline-block;
    width: 30px;
    height: 25px;
    background: url(http://i.imgur.com/E5suinP.png)center no-repeat;
    background-size: contain;
    margin-right: 15px;
    cursor: pointer;
}